@charset "UTF-8";

@import 'mixin/_mixin';

* { 
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: normal;
  text-align: center;
  box-sizing: border-box;
}

body{
  background-color: #fff;
  padding-top: 50px;
}

.container{
  margin: 0 auto;
  max-width: 800px;
}

h1{
  font-size: 220%;
}

h2{
  font-size: 120%;
  padding-top: 30px;
}

p{
  font-size: 90%;
}

section{
  padding: 30px 0;
}

.mainContent{
  position: relative;
  border: 1px solid #000;
  width: 80%;
  height: 500px;
  margin: 0 auto;
}

#js-moveElem{
  position: absolute;
  inset : 0px auto 0px auto;
}